<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Fortunka</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag :all %>
  <%= yield(:head) %>
</head>
<body>
<div id="header">
	<h1>Fortunka</h1>
</div>
<div id="menu">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">News</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Gallery</a></li>
		<li><a href="#">About CWS</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</div>
<div id="content">
	<div id="left">	
	
	
	</div>
	<div id="right">
		<h2>What's New?</h2>
		<h3>There's a voice</h3>
		<p>There's a voice that keeps on calling me. Down the road, that's where I'll always be. <a href="#">More&#8230;</a></p>
		<h3>Every stop I make</h3> 
		<p>Every stop I make, I make a new friend. Can't stay for long, just turn around and I'm gone again. Maybe tomorrow, I'll want to settle down, Until tomorrow, I'll just keep moving on. <a href="#">More&#8230;</a></p>
		<h3>Hong Kong Phooey</h3>
		<p>Hong Kong Phooey, number one super guy. Hong Kong Phooey, quicker than the human eye. He's got style, a groovy style, and a car that just won't stop. <a href="#">More&#8230;</a></p>
		<h2>Archive</h2>
		<ul>
			<li><a href="#">One for all</a></li>
			<li><a href="#">Can't stay for long</a></li>
			<li><a href="#">Muskehounds</a></li>
			<li><a href="#">Hong Kong Phooey</a></li>
		</ul>
	</div>
</div>
<div id="footer">
	<p>Copyright &copy; 2010 Fortunka 3.0</p>
	<p>Design by <a href="http://athiel.pl">Andrzej Thiel</a></p>
</div>
</body>
</html>
